@use "../functions" as fnc;

.notes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: fnc.rem(24);
  background-color: var(--color-primary-700);

  &__topbar {
    width: min(100%, fnc.rem(1110));
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: fnc.rem(50);
    height: auto;
  }

  &__underbar {
    width: min(100%, fnc.rem(1110));
    margin-top: fnc.rem(16);
    margin-bottom: fnc.rem(16);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: var(--color-primary-200);
    font-size: fnc.rem(40);
  }

  &__subtitle {
    color: var(--color-primary-100);
  }

  &__button {
    font-family: inherit;
    font-size: fnc.rem(20);
    cursor: pointer;
    border-radius: fnc.rem(10);
    padding: fnc.rem(10);
    font-size: fnc.rem(18);

    &.new {
      color: var(--green);
      background-color: var(--color-primary-100);
      border: none;
    }

    &.logout {
      background-color: var(--color-primary-100);
      border: none;
      border-radius: fnc.rem(10);
      padding: fnc.rem(10);
      color: var(--red);
    }

    &.add {
      color: var(--green);
    }

    &.submit {
      color: var(--green);
    }

    &.close {
      color: var(--red);
    }

    &.delete {
      color: var(--red);
    }

    &.edit {
      color: var(--green);
    }

    &.cancel {
      color: var(--red);
    }
  }

  &__note_input_wrapper {
    display: flex;
    width: min(100%, fnc.rem(350));
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--color-primary-200);
    padding: fnc.rem(8);
    border-radius: fnc.rem(8);
    box-shadow: var(--box-shadow);

    .button_wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      * + * {
        margin: 0;
      }
    }
  }

  &__note_input_title {
    width: 100%;
    border: none;
    border-radius: fnc.rem(5);
    font-family: inherit;
    font-size: fnc.rem(24);
    padding: fnc.rem(5);
    font-weight: 700;
  }

  &__note_input_text {
    width: 100%;
    border-radius: fnc.rem(5);
    margin-top: fnc.rem(8);
    margin-bottom: fnc.rem(8);
    font-family: inherit;
    font-size: fnc.rem(16);
    padding: fnc.rem(5);
    resize: vertical;
  }

  &__note_wrapper {
    margin-top: fnc.rem(8);
    width: min(100%, fnc.rem(1110));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: fnc.rem(16);
  }

  &__note {
    width: min(100%, fnc.rem(350));
    height: auto;
    background-color: var(--color-primary-200);
    padding: fnc.rem(8);
    border-radius: fnc.rem(8);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_editing {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      &_title {
        width: 100%;
        border: none;
        border-radius: fnc.rem(5);
        font-family: inherit;
        font-size: fnc.rem(24);
        padding: fnc.rem(5);
        font-weight: 700;
      }

      &_text {
        width: 100%;
        margin-top: fnc.rem(8);
        margin-bottom: fnc.rem(8);
        border-radius: fnc.rem(5);
        font-family: inherit;
        font-size: fnc.rem(16);
        padding: fnc.rem(5);
        resize: vertical;
      }
    }

    &_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      * + * {
        margin-top: fnc.rem(8);
      }
    }

    &_date {
      align-self: flex-end;
      color: var(--color-primary-700);
    }

    &_title {
      font-size: fnc.rem(32);
      color: var(--color-primary-700);
    }

    &_text {
      font-size: fnc.rem(24);
      color: var(--color-primary-700);
    }

    .button_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      * + * {
        margin: 0;
      }
    }
  }
}
