@use "./functions" as fnc;

:root {
  --color-primary-700: hsl(240, 27%, 18%);
  --color-primary-600: hsl(232, 17%, 35%);
  --color-primary-500: hsl(309, 6%, 58%);
  --color-primary-200: hsl(11, 24%, 72%);
  --color-primary-100: hsl(21, 35%, 92%);
  --green: hsl(138, 100%, 27%);
  --red: hsl(0, 100%, 50%);

  --font: "Karla", sans-serif;
  --box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: fnc.rem(16);
  line-height: 1.1;
  font-family: var(--font);
  background-image: linear-gradient(135deg, #3b2667 10%, #bc78ec 100%);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(fnc.rem(1440), 100%);
  height: 100vh;
  margin: 0 auto;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

.container {
  padding: 0 fnc.rem(24);

  @include fnc.breakpoint-up(large) {
    padding: 0;
  }
}

.limit-wrapper {
  max-width: fnc.rem(1440);
  margin: 0 auto;

  @include fnc.breakpoint-down(small) {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-100);
  border: none;
}
